
h2 {
  width: 300px;
  margin-left: 10px;
  text-align: center;
}

/* InputBoard */

.inputBoard {
  width: 100%;
  margin-left: 250px;
  margin-top: 200px;
}

.inputBoard div {
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  width: 300px;
}

.inputBoard div p {
  display: block;
  float: left;
  margin: 0;
}

.inputBoard input, select, textarea {
  float: right;
  width: 200px;
}

.inputBoard textarea {
  margin-bottom: 10px;
}

.inputBoard .button {
  margin-left: 50px;
  margin-top: 10px;
}

.inputBoard .button input {
  float: none;
  width: 80px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 20px;
}

.inputBoard .button a {
  margin-left: 20px;
  font-size: 14px;
}

.inputBoard .button img {
  margin-left: 100px;
  width: 30px;
}

/* Blog */

.header {
  width: 100%;
  height: 40px;
}

.userInfo {
  float: right;
  margin-right: 3%;
  width: 20%;
}

.userInfo p {
  margin: 0;
  display: block;
  float: left;
}

.userInfo input {
  float: left;
  margin-left: 10px;
  font-size: 50px;
}

.nav {
  float: left;
  width: 75%;
}

.nav input {
  width: 25%;
  font-size: 50px;
}

.list input {
  font-size: 50px;
  width: 100px;
  float: right;
  margin-right: 5%;
}

.item {
  border-bottom: 1px solid;
  padding-left: 20px;
}

.pager {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pager input {
  width: 30px;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.current {
  color: red;
}

.article {
  width: 100%;
}

.article h2 {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.article p {
  margin-left: 50px;
}

.article input {
  margin-left: 50%;
  margin-top: 30px;
  transform: translate(-50%);
}